@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 47, 45, 44;
  --background-end-rgb: 47,45,44;
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.background-modal {
  background-color: rgba(#B0BEC5, 0.3);
}